
<div class="card" style="width: 19rem;">
  <img class="card-img-top" src="{{pinguinosDetail.foto}}" style="height: auto;">
  <div class="card-body">
      <h1>{{pinguinosDetail.name}}</h1>
      <br>
      <h1 class="card-title" style="font-size: larger;"> Description </h1>
      <p>{{pinguinosDetail.description}}</p>

      <h1 class="card-title" style="font-size: larger;"> Feeding </h1>
      <p>{{pinguinosDetail.feeding}}</p>

      <h1 class="card-title" style="font-size: larger;"> Global Distribution </h1>
      <p>{{pinguinosDetail.global_distribution}}</p>

      <h1 class="card-title" style="font-size: larger;"> Scientific name </h1>
      <p>{{pinguinosDetail.scientific_name}}</p>

      
  </div>
</div>